table {
    padding-top: 50px;
    /* padding-left: 100px; */
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

tr {
    padding: 50px;

    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


td {
padding: 50px;
margin-right: 50px;
color: white;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

image {
    display: block;
    height: 100px;
    width: 100px;
}